body {
    background-color: rgb(235, 212, 253);
    color: rgb(137, 38, 177);
    margin: 0;
    font-family: Arial;
    text-align: center;
}

input {
    margin: 5px;
    padding: 8px;
}

button {
    padding: 10px;
    margin: 5px;
}

